@import "@styles";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $gray;
  position: relative;

  &__logo {
    width: 168px;
  }

  &__link {
    margin-right: $space_l;

    &:last-child {
      margin-right: 0;
    }

    @include respond-to("m") {
      display: none;
    }
  }

  &__burger {
    display: none;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: $space_l;
    top: $space_l;

    @include respond-to("m") {
      display: flex;
    }

    span,
    span::before,
    span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
    }

    span::before {
      content: "";
      top: -8px;
    }

    span::after {
      content: "";
      top: $space_s;
    }
  }
}
