@import "@styles";

.Car-item {
  min-height: 72px;
  display: flex;
  justify-content: flex-start;

  &__avatar {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;

    &-wrapper {
      width: 92px;
      height: 72px;
      background-color: $gray;
    }
  }

  &__name {
    &-placeholder {
      width: 242px;
      height: 20px;
      background-color: $gray;

      @include respond-to("s") {
        width: 150px;
      }
    }

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: $space_l;
  }

  &__details {
    text-transform: capitalize;

    span {
      text-transform: uppercase;
    }

    &-placeholder {
      width: 242px;
      height: 18px;
      background-color: $gray;
    }
  }

  &__link {
    &-placeholder {
      width: 72px;
      height: 18px;
      background-color: $gray;
    }
  }
}
