@import "@styles/colors";

.Link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;

  &_routing {
    color: $orange;

    &:visited {
      color: $orange;
    }

    &:hover {
      color: $dark-orange;
    }
  }

  &_nav {
    color: $black;

    &:visited {
      color: $black;
    }

    &:hover {
      color: $black-fade;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}
