$white: #ffffff;
$gray: #ededed;
$gray-fade: rgba(237, 237, 237, .85);
$black: #4a4a4a;
$black-fade: rgba(74, 74, 74, .85);
$orange: #ea7f28;
$orange-fade: rgba(234, 127, 40, .85);
$dark-orange: #d37324;