@import "./colors";
@import "./spacings";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  color: $black;
}

.padding {
  &_s {
    padding: $space_s;
  }

  &_m {
    padding: $space_m;
  }

  &_l {
    padding: $space_l;
  }

  &_horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  &_vertical {
    padding-left: 0;
    padding-right: 0;
  }

  &_bottom {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  &_top {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  &_left {
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }

  &_right {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  &_xs {
    font-size: 12px;
  }

  &_s {
    font-size: 14px;
  }

  &_m {
    font-size: 18px;
  }

  &_l {
    font-size: 32px;
  }

  &_bold {
    font-weight: 700;
  }
}

.border {
  border: 2px solid $black;

  &_gray {
    border-color: $gray;
  }
}

$breakpoints: (
  's': 550px,
  'm': 746px,
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
