@import "@styles";

.Details-page {

  &__avatar {
    max-height: 100%;
    margin: auto;

    &-wrapper {
      width: 100%;
      min-height: 356px;
      background-color: $gray;
      display: flex;
    }
  }

  &__content {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond-to("m") {
      flex-flow: column;
      max-width: unset;
      align-items: inherit;
    }
  }

  //TODO refactor margins
  &__name {
    margin: 0 0 $space_l;
  }

  &__details {
    max-width: 423px;
    width: 100%;

    @include respond-to("m") {
      max-width: unset;
    }

    &-info {
      text-transform: capitalize;
    }
  }

  &__text {
    line-height: 150%;
  }

  &__placeholder {
    &-name {
      width: 80%;
      height: 32px;
      background-color: $gray;
      margin-bottom: $space_l;
    }

    &-details {
      width: 90%;
      height: 18px;
      background-color: $gray;
      margin-bottom: $space_l;
    }

    &-text {
      width: 100%;
      height: 18px;
      background-color: $gray;
      margin-bottom: $space_s;

      &:last-child {
        width: 20%;
      }
    }
  }
}
