@import '@styles/colors';

.Dropdown-item {
  display: block;
  transition: all 0.5s;
  min-height: 18px;
  border-bottom: 2px solid $gray;

  &_selected & {
    &__btn {
      color: $orange;
    }
  }

  &__btn {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
  }

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: $orange;
    color: $white;
  }
}
