@import "@styles/colors";

.Loading-wrapper {
  position: relative;

  &__veil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: $gray-fade;
    display: flex;
  }

  &__loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;

    &-circle {
      position: absolute;
      border: 4px solid $orange;
      opacity: 1;
      border-radius: 50%;
      animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

      &:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }

  @keyframes loader {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
