@import "@styles";

.Error-hint {
  &__wrapper {
    position: fixed;
    z-index: 301;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-fade;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    margin: 10vh auto;
  }

  &__message {
    max-width: 300px;
    background-color: $orange;
    border-radius: 4px;
    margin-top: 10vh;
    
    &-text {
      color: $white;
      text-align: center;
    }
  }

  &__reload-btn {
    margin: $space_l auto 0;
  }
}
