@import "@styles";

.Details-page-favorite {
  max-width: 268px;
  min-height: 106px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;

  @include respond-to("m") {
    margin-top: $space_l;
    max-width: unset;
    align-items: flex-start;
  }
}