@import "@styles";

.CarsBlock {
  &__current-count {
    padding: $space_m 0;
  }

  &__car-list {
    &-item {
      margin-bottom: $space_m;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
