@import "@styles/colors";

.Button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;

    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }
  }

  &:focus {
    outline: 0;
  }

  &_link {
    background: none;
    color: $orange;

    &:hover {
      color: $dark-orange;
      text-decoration: underline;
    }
  }

  &_no-back {
    background: none;
  }

  &_simple {
    width: 128px;
    height: 32px;
    border-radius: 2px;
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $orange-fade;
    }

    &:active {
      background-color: $dark-orange;
    }

    &:focus {
      outline: 0;
    }
  }
}
