@import "@styles";

.Home-page {
  display: flex;
  align-items: flex-start;

  &__cars-section {
    flex-grow: 1;
    padding-left: $space_l;
  }

  @include respond-to("m") {
    flex-flow: column;
    align-items: initial;

    &__cars-section {
      padding-left: 0;
      margin-top: $space_l;
      width: 100%;
    }
  }
}