@import "@styles";

.Dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  &__wrapper {
    position: relative;
    user-select: none;
    width: 272px;

    @include respond-to("m") {
      width: 100%;
    }

    &:focus {
      outline: 0;
    }
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3b3b3b;
    background: $white;
    cursor: pointer;
    border-radius: 2px;
    text-transform: capitalize;
  }

  &__options {
    position: absolute;
    display: block;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    background: $white;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    max-height: 182px;
    overflow: auto;
  }

  &__arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid $gray;
    transition: all 0.5s;
    transform-origin: center center;
  }

  &__header {
    margin-bottom: $space_s;
  }

  &_open & {
    &__options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    &__arrow {
      transform: rotate(180deg);
    }
  }
}
