@import "@styles";

.Not-found-page {
  display: flex;

  &__content {
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;

    @include respond-to("m") {
      padding: 0 $space_m;
    }
  }
}
